<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <div class="row">
      <div class="col-lg-3 col-xsm-6">
          <div class="panel mini-box">
              <span class="box-icon bg-info">
                  <i class="fa fa-users"></i>
              </span>
              <div class="box-info">
                  <p class="size-h2">{{counters.players}}</p>
                  <p class="text-muted"><span data-i18n="active-players"></span></p>
              </div>
          </div>
      </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-success">
                    <i class="fa fa-hdd-o"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{counters.servers}}<span class="size-h4"></span></p>
                    <p class="text-muted"><span data-i18n="active-servers"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-danger">
                    <i class="fa fa-crosshairs"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{counters.kills}}</p>
                    <p class="text-muted"><span data-i18n="victims"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-warning">
                    <i class="fa fa-square"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{counters.blocks}}</p>
                    <p class="text-muted"><span data-i18n="mined-blocks"></span></p>
                </div>
            </div>
        </div>

    </div>

    <div class="row">
      <section class="panel panel-box">
        <div class="panel-body">
            <h2 data-i18n="pitch"></h3>
            <p><em>Caligone</em></p>
        </div>
      </section>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="top-servers"></span></strong></div>
        <table class="table">
            <thead>
                <tr>
                    <th data-i18n="name"></th>
                    <th data-i18n="status"></th>
                    <th data-i18n="players"></th>
                </tr>
            </thead>
            <tbody>
                <tbody>
                <tr ng-repeat="server in servers" class="animate" >
                    <td><a href="/#/server/{{server.id}}" alt="{{server.name}}">{{server.name}}</a></td>
                    <td ng-if="server.online"><span class="label label-success" data-i18n="online"></span></td>
                    <td ng-if="!server.online"><span class="label label-danger" data-i18n="offline"></span></td>
                    <td><div class="server-capacity">{{server.onlinePlayers}}/{{server.size}}</div><progressbar class="progressbar-xs no-margin" ng-attr-value="server.onlinePlayers/server.size*100" type="success"></progressbar></td>
                </tr>
            </tbody>
            </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="top-players"></span></strong></div>
        <table class="table">
            <thead>
                <tr>
                    <th data-i18n="pseudo"></th>
                    <th data-i18n="status"></th>
                    <th data-i18n="ratio"></th>
                    <th data-i18n="score"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="player in players" class="animate" >
                    <td><a href="/#/profile/{{player.id}}" alt="{{player.pseudo}}">{{player.pseudo}}</a></td>
                    <td ng-if="player.status"><span class="label label-success" data-i18n="online"></span></td>
                    <td ng-if="!player.status"><span class="label label-danger" data-i18n="offline"></span></td>
                    <td><em>{{player.avgratio}}<em></td>
                    <td><em>{{player.score}}<em></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>

</div>
