<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- stats -->
    <div class="row">
      <div class="col-lg-3 col-xsm-6">
          <div class="panel mini-box">
              <span class="box-icon bg-info">
                  <i class="fa fa-users"></i>
              </span>
              <div class="box-info">
                  <p class="size-h2">{{counters.users}}</p>
                  <p class="text-muted"><span data-i18n="Utilisateurs actifs"></span></p>
              </div>
          </div>
      </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-success">
                    <i class="fa fa-hdd-o"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{counters.servers}}<span class="size-h4"></span></p>
                    <p class="text-muted"><span data-i18n="Serveurs actifs"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-danger">
                    <i class="fa fa-crosshairs"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{counters.kills}}</p>
                    <p class="text-muted"><span data-i18n="Assasinats"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-warning">
                    <i class="fa fa-square"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">{{counters.blocks}}</p>
                    <p class="text-muted"><span data-i18n="Blocs détruits"></span></p>
                </div>
            </div>
        </div>

    </div>
    <!-- end stats -->

    <!-- pitch -->
    <div class="row">
      <section class="panel panel-box">
        <div class="panel-body">
            <h2>Minelog, I need to find an awesome pitch ! Just a bit longer... Yes !</h3>
            <p>By Caligone</p>
        </div>
      </section>
    </div>
    <!-- end pitch -->

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Top Serveurs"></span></strong></div>
        <table class="table">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Statut</th>
                    <th>Joueurs</th>
                </tr>
            </thead>
            <tbody>
                <tbody>
                <tr ng-repeat="server in servers">
                    <td><span>{{server.name}}</span></td>
                    <td ng-if="server.online"><span class="label label-success">En ligne</span></td>
                    <td ng-if="!server.online"><span class="label label-danger">Hors ligne</span></td>
                    <td><div class="server-capacity">{{server.onlinePlayers}}/{{server.size}}</div><progressbar class="progressbar-xs no-margin" ng-attr-value="server.onlinePlayers/server.size*100" type="success"></progressbar></td>
                </tr>
            </tbody>
            </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Top Joueurs"></span></strong></div>
        <table class="table">
            <thead>
                <tr>
                    <th>Pseudo</th>
                    <th>Statut</th>
                    <th>Ratio</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in users">
                    <td><span>{{user.pseudo}}</span></td>
                    <td ng-if="user.online"><span class="label label-success">En ligne</span></td>
                    <td ng-if="!user.online"><span class="label label-danger">Hors ligne</span></td>
                    <td><em>{{user.avgRatio}}<em></td>
                    <td><em>N/A (yet)<em></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>

</div>
