<div class="page page-dashboard" data-ng-controller="DashboardCtrl">

    <!-- stats -->
    <div class="row">
      <div class="col-lg-3 col-xsm-6">
          <div class="panel mini-box">
              <span class="box-icon bg-info">
                  <i class="fa fa-users"></i>
              </span>
              <div class="box-info">
                  <p class="size-h2">112</p>
                  <p class="text-muted"><span data-i18n="Utilisateurs actifs"></span></p>
              </div>
          </div>
      </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-success">
                    <i class="fa fa-hdd-o"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">25 <span class="size-h4"></span></p>
                    <p class="text-muted"><span data-i18n="Serveurs actifs"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-danger">
                    <i class="fa fa-crosshairs"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">4,550</p>
                    <p class="text-muted"><span data-i18n="Assasinats"></span></p>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-xsm-6">
            <div class="panel mini-box">
                <span class="box-icon bg-warning">
                    <i class="fa fa-square"></i>
                </span>
                <div class="box-info">
                    <p class="size-h2">262</p>
                    <p class="text-muted"><span data-i18n="Blocs détruits"></span></p>
                </div>
            </div>
        </div>

    </div>
    <!-- end stats -->

    <!-- pitch -->
    <div class="row">
      <section class="panel panel-box">
        <div class="panel-body">
            <h2>Minelog, I need to find an awesome pitch ! Just a bit longer... Yes !</h3>
            <p>By Caligone</p>
        </div>
      </section>
    </div>
    <!-- end pitch -->

    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Top Serveurs"></span></strong></div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Nom</th>
                    <th>Status</th>
                    <th>Joueurs</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>Minecraft Server 1</td>
                    <td><span class="label label-success">Actif</span></td>
                    <td><progressbar class="progressbar no-margin" value="55" type="success">55/100</progressbar></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>Minecraft Server 2</td>
                    <td><span class="label label-success">Actif</span></td>
                    <td><progressbar class="progressbar no-margin" value="80" type="success">40/50</progressbar></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>Minecraft Server 3</td>
                    <td><span class="label label-success">Actif</span></td>
                    <td><progressbar class="progressbar no-margin" value="68" type="success">68/100</progressbar></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>Minecraft Server 4</td>
                    <td><span class="label label-success">Actif</span></td>
                    <td><progressbar class="progressbar no-margin" value="52" type="success">52/100</progressbar></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td>Minecraft Server 5</td>
                    <td><span class="label label-default">Inactif</span></td>
                    <td><progressbar class="progressbar no-margin" value="0"></td>
            </tbody>
        </table>
      </div>
    </div>

    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> <span data-i18n="Top Joueurs"></span></strong></div>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Pseudo</th>
                    <th>Score</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td></span> Joueur 1</td>
                    <td>21956 <i class="fa fa-trophy"></i></td>
                </tr>
                <tr>
                    <td>2</td>
                    <td></span> Joueur 2</td>
                    <td>18732 <i class="fa fa-trophy"></i></td>
                </tr>
                <tr>
                    <td>3</td>
                    <td></span> Joueur 3</td>
                    <td>17991 <i class="fa fa-trophy"></i></td>
                </tr>
                <tr>
                    <td>4</td>
                    <td></span> Joueur 4</td>
                    <td>15212 <i class="fa fa-trophy"></i></td>
                </tr>
                <tr>
                    <td>5</td>
                    <td></span> Joueur 5</td>
                    <td>12309 <i class="fa fa-trophy"></i></td>
                </tr>
            </tbody>
        </table>
      </div>
    </div>

</div>
