<section class="page-form-ele page">

    <div class="panel-body">
    
        <accordion close-others="oneAtATime" class="ui-accordion">
            <accordion-group heading="Questions générales" is-open="true">
                <div class="callout callout-success">
                    <h4>Callout heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
                </div>
                <div class="callout callout-info">
                    <h4>Callout heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
                </div>
                <div class="callout callout-warning">
                    <h4>Callout heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
                </div>
                <div class="callout callout-danger">
                    <h4>Callout heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
                </div>
            </accordion-group>

            <accordion-group heading="Questions techniques">
                <div class="callout callout-success">
                    <h4>Callout heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
                </div>
                <div class="callout callout-info">
                    <h4>Callout heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
                </div>
                <div class="callout callout-warning">
                    <h4>Callout heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
                </div>
                <div class="callout callout-danger">
                    <h4>Callout heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda, alias, in accusantium totam adipisci vel et suscipit quidem libero pariatur minus ratione quo doloremque error at nemo incidunt dicta quia?</p>
                </div>
            </accordion-group>
        </accordion>
    </div>

</section>
