<section class="page-form-ele page">

    <label for="title" class="col-sm-2">Titre</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="title">
        <span class="help-block">Un titre pertinent aidera au traitement de votre message.</span>
    </div>
    <div text-angular ng-model="mailContent" class="ui-editor"></div>
    <button class="btn btn-info pull-right">Envoyer votre avis</button>

</section>
