<section class="page-form-ele page">

    <label for="title" class="col-sm-2" i18n="title"></label>
    <div class="col-sm-10">
        <input type="text" class="form-control" id="title">
        <span class="help-block" i18n="relevant-title"></span>
    </div>
    <div text-angular ng-model="mailContent" class="ui-editor"></div>
    <button class="btn btn-info pull-right" i18n="send-feedback"></button>

</section>
