<div id="nav-wrapper">
    <ul id="nav" collapse-nav slim-scroll highlight-active>
        <li><a href="#/dashboard"> <i class="fa fa-home"><span class="icon-bg bg-danger"></span></i> <span i18n="home"></span></a></li>
        <li><a href="#/servers"><i class="fa fa-hdd-o"><span class="icon-bg bg-orange"></span></i> <span i18n="servers"></span></a></li>
        <li><a href="#/players"><i class="fa fa-users"> <span class="icon-bg bg-warning"></span></i><span i18n="players"></span></a></li>
        <li><a href="#/faq"> <i class="fa fa-question"><span class="icon-bg bg-success"></span></i> <span i18n="faq"></span></a></li>
        <li><a href="#/feedback"> <i class="fa fa-pencil"><span class="icon-bg bg-info"></span></i> <span i18n="feedback"></span></a></li>
    </ul>
</div>
